

/*Background Image*/
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/19d15c51-f7c6-4914-838c-06e5599f84b6/dfrzg4o-69f8cfa1-f18e-4fae-b25c-374455980ce2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE5ZDE1YzUxLWY3YzYtNDkxNC04MzhjLTA2ZTU1OTlmODRiNlwvZGZyemc0by02OWY4Y2ZhMS1mMThlLTRmYWUtYjI1Yy0zNzQ0NTU5ODBjZTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CMJRrd8FvDrqf5oasbUdvQ20BE2u-Dbe0oMqVXzsSG0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* 
#player_container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f4f4f4;
} */

/*Iframe styling*/
#player_containment {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border-color: white;
    border-style: solid;
    border-width: 20px;
}

/*Title styling*/
#title {
    font-family: 'Courier New', Courier, monospace; /*Font*/
    width: 700px;
    margin: 0 auto;
    color: black;

    text-align: center; /*Centering text*/
    align-items: center;

    margin-bottom: 7vh; /*Margins/padding*/
    margin-top: 5vh;

    background-color: white; /*Border styling*/
    border-color: white;
    border-style: solid;
}

#spotify {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
    align-items: center;
    color: white;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: white;
}