

/*Background Image*/
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/19d15c51-f7c6-4914-838c-06e5599f84b6/dfrzg4o-69f8cfa1-f18e-4fae-b25c-374455980ce2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE5ZDE1YzUxLWY3YzYtNDkxNC04MzhjLTA2ZTU1OTlmODRiNlwvZGZyemc0by02OWY4Y2ZhMS1mMThlLTRmYWUtYjI1Yy0zNzQ0NTU5ODBjZTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CMJRrd8FvDrqf5oasbUdvQ20BE2u-Dbe0oMqVXzsSG0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/*Iframe styling*/
#player_containment {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border-color: white;
    border-style: solid;
    border-width: 20px;
}

/*Title styling*/

#title {
    margin-top: 40px;
}

#title_img {
    width: 50%;
    height: 50%; 
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: white;
}

/* Generation Div */ 
#generation_select {
     float:center;  
}

#flexcnt {
    /* border-style: solid;
    border-radius: 5%;
    border-color: black;
    background: black;  */
    background-color: white;
    color: black;
    font-size: 20px; 
    background-image: url(https://www.pngkit.com/png/full/828-8283201_pokemon-dialog-box-pokemon-text-box-png.png);
    background-size: 100% 100%; 
    background-position: center;
    display: inline-block; 
    padding: 60px; 
}

#games {
    float:right; 
    height: 150px;
    width: 300x; 

}
/* images */ 
img{
    height: 25%;
     width: 25%; 
    }

.gen_type {
    color: white; 
    font-size: 40px;
}

section {
    margin-top: 100px;
}


                